.listContainer {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Hide the horizontal scrollbar */
}

.virtualList {
  width: 100%;
  height: 100%;
  overflow-y: auto; /* Only show the vertical scrollbar */
}

.virtualList::-webkit-scrollbar {
  width: 6px; /* Make the scrollbar thinner */
}

.virtualList::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.virtualList::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

.listItem {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 16px;
}

.link {
  color: #1890ff;
  text-decoration: none;
}

.descriptionRow {
  display: flex;
  align-items: center;
  color: #666;
}

.textRight {
  text-align: right;
}
