.customCard {
  margin-top: 5px;
  width: 100%;
  left: 0;
  position: relative; /* 确保 left 属性生效 */
  
  .ant-card-head {
    border-bottom: none; /* 去掉头部和内容之间的分割线 */
  }

  .ant-card-body {
    padding-top: 0; /* 如果需要，调整内容的上内边距 */
  }
}

.searchInput {
  width: 100%;
  max-width: 600px; /* 限制最大宽度 */
  margin: 0 auto; /* 居中对齐 */

  @media (max-width: 768px) {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .customCard {
    width: 80vw; /* 调整宽度以适应较大的屏幕 */
    left: 10vw; /* 调整左边距以居中对齐 */
  }
}
