.customCard {
  margin-top: 5px;
  width: 104%;
  left: -3%;
  position: relative; /* 确保 left 属性生效 */
  
  .ant-card-head {
    border-bottom: none; /* 去掉头部和内容之间的分割线 */
  }

  .ant-card-body {
    padding-top: 0; /* 如果需要，调整内容的上内边距 */
  }
}
