.listContainer {
  width: 100%;
  height: 75vh;
  overflow: hidden; /* Hide the horizontal scrollbar */
}
.loading {
  height: 75vh;
}
.virtualList {
  width: 100%;
  height: 75vh;
  overflow-y: auto;
  overflow-x:hidden /* Only show the vertical scrollbar */
}

.virtualList::-webkit-scrollbar {
  width: 6px; /* Make the scrollbar thinner */
}

.virtualList::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.virtualList::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

.listItem {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 0.8px solid #f0f0f0;
}

.icon {
  margin-right: 16px;
}

.link {
  font-weight: bold;
  color: black;
  text-decoration: none;

  &:hover {
    color: #1890ff;
  }
}

.descriptionRow {
  display: flex;
  align-items: center;
  color: #666;
}

.textRight {
  text-align: right;
}
.noMoreFiles {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 16px;
  font-weight: bold;
  color: gray;
}
